extends layout

block content
  body
    // Header
    header.intro-header
      .container
        .intro-message
          h1 James Schulman
          h3 Boston University M.S. ECE '18
          h3 University of Florida B.S. APK '14
          hr.intro-divider
          ul.list-inline.intro-social-buttons
            li.list-inline-item
              a.btn.btn-secondary.btn-lg(href='/resume')
                span.network-name Resume
            li.list-inline-item
              a.btn.btn-secondary.btn-lg(href='#')
                i.fa.fa-github.fa-fw
                span.network-name
            li.list-inline-item
              a.btn.btn-secondary.btn-lg(href='#')
                i.fa.fa-linkedin.fa-fw
                span.network-name
